
.auto-width {
    width: auto;
}

img.badge {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    padding: 10px;
}

.badge-container label{
    display: inline;
}

.badge-container::after{
    display: table;
    clear: both;
    content: " ";
}

.badge-container {
    margin-bottom: 5px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #f00;
}

.p-5 {
    padding: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    /*background-color: white;
    color: black;
    border: 2px solid #4CAF50;*/
}

.button-green {
    background-color: #4CAF50;
    color: white;
}

